@import "reset.less";
@import "fonts.less";
@import "common.less";

@blanc: #fff;
@noir: #000;
@orange: #ff9038;
@gris: #d6d6d6;

body { font: 16px "GothamBook", sans-serif; color: @noir; background: @blanc; }
a { color: @noir; }

/* Header */
#header {
  background: url(../img/bg/header.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 120px 70px 160px;
  max-height: 100vh;
  #logo {
    img {
      max-width: 100%;
    }
  }
}
#primary-sticky-wrapper {
  background: @orange;
}
#primary {
  .flexnav {
    ul {
      background: @orange;
    }
    li {
      background: @orange;
      a {
        background: @orange;
        border: 0;
        color: @blanc;
        text-transform: uppercase;
        background: url(../img/nav_item.svg) no-repeat 15px 50%;
        padding-left: 70px;
      }
      ul {
        width: 280px;
        a {
          background-image: none;
          padding-left: .96em;
        }
      }
      .touch-button {
        background: transparent;
        width: 100%;
        .navicon {
          float: right;
          margin: 0 20px;
        }
      }
    }
  }
}
.is-sticky {
  #primary {
    background: @orange;
  }
}
.menu-button {
  background: @orange;
  color: @blanc;
}

/* Layout */
#teasers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url(../img/bg/online.jpg);
  background-size: cover;
  h2 {
    width: 34%;
    text-transform: uppercase;
    color: @blanc;
    font-size: 22px;
    background: url(../img/citron.svg) no-repeat 3% 50%;
    padding-left: 100px;
    strong {
      display: block;
      font-family: 'GothamBold';
    }
      img {
        float: left;
        margin-right: 30px;
      }
  }
  ul {
    width: 66%;
    display: flex;
    padding: 50px 0;
    li {
      flex-grow: 1;
      background: fade(@noir, 40%);
      font-size: 17px;
      margin-right: 35px;
      padding: 15px 30px;
      strong {
        display: block;
        font-size: 19px;
        font-family: 'GothamBold';
      }
      a {
        color: @blanc;
      }
      img {
        float: left;
        margin-right: 30px;
      }
    }
  }
}
#news_coords {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  > div {
    width: 50%;
    padding: 60px 6%;
  }
}
#news {
  background: @orange;
  h2 {
    color: @blanc;
    font-size: 25px;
    text-transform: uppercase;
  }
}
#coords {
  background: url(../img/bg/coords.jpg);
  background-size: cover;
  color: @blanc;
  svg {
    width: 50px;
    height: 50px;
    margin-bottom: 1em;
    path {
      fill: @orange;
    }
  }
  #tel {
    font-size: 24px;
    color: @orange;
  }
  #adresse {
    margin: 1.5em 0;
  }
  #horaires {
    strong {
      display: block;
      font-size: 20px;
      text-transform: uppercase;
      color: @orange;
    }
  }
}
#slider_main {
  position: relative;
}
#slider_main_overlay {
  position: absolute;
  z-index: 200;
  width: 45%;
  left: 50%;
  .vcenter;
  text-align: right;
  h2 {
    font-size: 22px;
    border-bottom: 4px solid @noir;
    padding-bottom: 30px;
  }
  p {
    margin: 1em 0;
  }
}
#main {
}

/* Home */
#intro {
}

/* Contenu */
#texte {
  margin: 2em 3%;
  p {
    text-align: justify;
    margin: 1em 0;
  }
}

/* Footer */
#footer {
  #agence {
    .ck_agence;
    svg {
      path {
        fill: @gris;
      }
    }
  }
  #liens {
    .ck_liens(@gris);
  }
}

@media screen and (max-width: 1024px) {
  #header {
    padding: 20px 15px 60px;
  }
  #teasers {
    justify-content: center;
    > h2, > ul {
      width: auto;
      padding: 1em;
    }
    > h2 {
      padding-left: 100px;
    }
    ul li:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 640px) {
  #teasers {
    ul {
      flex-direction: column;
      li {
        margin: 0 0 1em 0;
      }
    }
  }
  #news_coords {
    flex-direction: column;
    > div {
      width: 100%;
    }
  }
  #slider_main_overlay {
    left: 10%;
    width: 80%;
  }
}
